* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.web {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 295px;
    background: url(fondo.png), #434e97;
    background: url(fondo.png), -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
    background: url(fondo.png), linear-gradient(to left, #869b21, #053077)
}

.contenedor {
    width: 100%;
    height: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-top: 15px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    margin-top: 40px;
}

.datos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 120px;
    color: white;
}

.ingreso {
    display: flex; /* Alinea el contenido de ingreso en fila */
    justify-content: space-between; /* Distribuye el contenido */
    align-items: center; /* Centra verticalmente */
    width: 400px;
    background-color: rgb(12, 197, 163);
    height: 50px;
    margin-top: 100px;
}


.egreso{
    display: flex; /* Alinea el contenido de ingreso en fila */
    justify-content:space-between; /* Distribuye el contenido */
    align-items: center; /* Centra verticalmente */
    width: 400px;
    background-color: rgb(230, 102, 38);
    height: 50px;
    margin-top: 20px;

}

.presupuesto_ingreso-texto{
    font-size: 20px;
    margin-left: 20px;
}

.presupuesto_egreso-texto{
    font-size: 20px;
    margin-left: 20px;
}


.presupuesto_ingreso-valor{
    display: flex;
    color: white; /* Para ver mejor el texto sobre el fondo azul */
    padding: 10px;
    width: 150px;
    height: 100%;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;

}


.resultado{

    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 20px;
}

.presupuesto_egreso-valor{
    display: flex;
    color: white; /* Para ver mejor el texto sobre el fondo azul */
    padding: 10px;
    width: 150px;
    height: 100%;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

.presupuesto-ingreso-porcentaje{
    display: flex;
    margin-left: 15px;
    background-color: rgba(133, 131, 131, 0.461);
    height: 100%;
    margin-top: 2px;
    text-align: center;
    font-size: 14px;
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}


.contenedor2{
    display: flex;
    width: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.titulo-ingreso{

    color: rgb(12, 197, 163);
    font-weight: 100;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 290px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-egresos{
    color: rgb(221, 133, 11);
    font-weight: 100;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 290px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}


.elemento{
    display: flex;
    width: 400px;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    border-top: 2px solid rgb(189, 189, 189);
    border-bottom: 2px solid rgb(189, 189, 189);
    margin-top: 10px;
}

.elemento-descripcion{
    color: rgb(46, 42, 42);
    font-size: 18px;
    
}


.elemento-valor{
    color: rgb(12, 197, 163);
    margin-left: 200px;
}

.elemento-valor-egresos{
    color: rgb(221, 133, 11);
    margin-left: 200px;
}
.btn-eliminar {
    background: none;
    border: none;        /* Elimina el borde */
    outline: none;       /* Elimina el contorno */
    box-shadow: none; 
    color: rgb(12, 197, 163);
    font-size: 23px;
    margin-top: 3px;
}

.btn-eliminar-egresos{

    background: none;
    border: none;        /* Elimina el borde */
    outline: none;       /* Elimina el contorno */
    box-shadow: none; 
    color: rgb(221, 133, 11);
    font-size: 23px;
    margin-top: 3px;
}
.contenedor-padre{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.agregar{
    display: flex;
    width: 100%;
    background-color: rgba(144, 146, 146, 0.429);
    height: 60px;
    justify-content: center;
    align-items: center;
}

.agregar-tipo{
    font-size: 18px;
    width: 100px;    
    height: 38px;
    outline: none;
    border-radius: 7px; 
}

.agregar_descripcion{
    font-size: 18px;
    width: 300px;
    height: 38px;
    outline: none;
    border-radius: 7px;
    border: none;
}

.agregar_valor{
    font-size: 18px;
    width: 100px;
    height: 38px;
    outline: none;
    border-radius: 7px;
    border: none;
}


.agregar_btn{
    
    background: none;
    border: none;       
    outline: none;     
    box-shadow: none;
    font-size: 30px;
    position: relative; /* Permite ajustar la posición sin afectar otros elementos */
    top: 10px;
    left: 5px;
    color: rgb(0, 0, 0);    
}
